.drinks-page{
    background-color: var(--Backgroundcolor);
    color: var(--Textcolor);
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: var(--font);
}
.drinks-page blockquote {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin: 1rem;
    padding: 0;

}
.drinks-page p {
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
    padding: 0;
}
.drinks-page p span, .drinks-page p a {
    font-size: 1.3em;
    text-align: center;
    margin: 1rem;
    padding: 0;
    color: var(--Accentcolor);
}
.drinks-page .cheers {
    font-size: 1.5em;
    text-align: center;
    margin: 1rem;
    padding: 0;
    color: var(--Accentcolor);
}
.drinks-page .cocktail-finder {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
justify-content: flex-start;
align-items: flex-start;
 min-height: 50vh;
 padding: 2rem 3rem;
  background-color: var(--Accentcolor);
  color: var(--colorsfrompallete2);
  margin-bottom: 1rem;
}
.drinks-page  .forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
 
 
}
.drinks-page .cocktail-finder form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
}
.drinks-page .cocktail-finder form input {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0.5rem;
    outline: none;
}
.drinks-page .cocktail-finder form button {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.6rem;
    outline: none;
    border: none;
    background-color: var(--colorsfrompallete2);
    color: var(--colorsfrompallete1);
    cursor: pointer;
}
.drinks-page .cocktail-finder form button:hover {
    background-color: var(--colorsfrompallete1);
    color: var(--colorsfrompallete2);
}
.drinks-page h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}
 .drinks-page .results {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}
.drinks-page .results .drink {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--colorsfrompallete2);
    color: var(--colorsfrompallete1);
}

.drinks-page .results .drink img {
    width: 100%;
    height: 88%;
    object-fit: cover;
}
.drinks-page .results .drink h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}
.top-5nonalc, 
.top-5alc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    padding: 1rem;
}
.top5 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    
}
.top-drink {
    display: flex;
    flex-direction: column;
    width: 24%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--colorsfrompallete2);
    color: var(--colorsfrompallete1);
}
.top-drink img {
    width: 100%;
    height: 88%;
    object-fit: cover;
}
.top-drink h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.4rem 0;
    padding: 0;
    text-align: center;

}
@media screen and (max-width: 868px) {
    .drinks-page .cocktail-finder {
        width: 100%;
        padding: 2rem 1rem;
    }
    .drinks-page  .forms {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .drinks-page .results {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
    .drinks-page .results .drink {
        width: 45%;

    }
    .drinks-page .results .drink img {
        height: 78%;
        }
    .top5 {
        flex-wrap: wrap;
    }
    .top-drink {
        width: 45%;
    }
    .top-drink img {
        height: 78%;
    }
    .top-drink h3 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0.4rem 0;
        padding: 0;
        text-align: center;
    }


}