.random-drink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    background-color: var(--Accentcolor);
    border-radius: 10px;
    margin: 2rem 0;
    color: var(--colorsfrompallete2);
    font-size: 1.4rem;
   
}

.random-drink-img {
    width: 55%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.random-drink-img img {
    width: 100%;
    border-radius: 10px;
    height: 45vh;
}
.random-details {
 
 width: 45%;
 display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

}
.random-drink a {
    text-decoration: none;
    color: var(--colorsfrompallete2);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 10px;
   border: 3px solid var(--colorsfrompallete2);
    transition: all 0.3s ease-in-out;
}
.random-drink a:hover {
    background-color: var(--colorsfrompallete2);
    color: var(--colorsfrompallete1);
    border: 3px solid var(--colorsfrompallete1);
}
@media screen and (max-width: 800px) {
    .random-drink {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
     
    }
    .random-drink-img {
        width: 100%;
        height: 100%;
        
    }
    .random-details {
        width: 100%;
        align-items: flex-start;
    }
    .random-drink a {
        font-size: 1.4rem;
    }

}