.single-drink-container {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
  background-color: var(--colorsfrompallete2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--Textcolor);
}
.single-drink-container .name {
  padding: 1rem;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.single-drink-container .name h3 {
  font-size: 2rem;
  font-weight: 800;
}
.single-drink-content {
  display: flex;
  gap: 3rem;
}

.single-drink-img img {
  width: 45%;
  object-fit: cover;
  border-radius: 10px;
}
.single-drink-details {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  font-size: 1.4rem;
}

.single-drink-details ul p {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.instr :nth-child(1) {
  color: var(--Accentcolor);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  max-width: 50%;
}
.instr :nth-child(2) {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0;
  max-width: 80%;
}
/*media query for device until 700px */
@media screen and (max-width: 700px) {
  .single-drink-container {
    padding: 1rem;
  }
  .single-drink-content {
    flex-direction: column;
    gap: 1rem;
  }
  .single-drink-img img {
    width: 100%;
  }

  .instr {
    max-width: 100%;
  }
}
